@using PokemonBattleSimulator.Models.Enum;
@model List<Move>

<div class="card moves-card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                @foreach (var move in Model)
                {
                    <div class="col-auto">
                        <button class="move-button" type="button" value="@move" >
                            @move
                        </button>
                    </div>
                }
            </div>
            <div class="col-auto">
                <div id="selectedMove">
                </div>
            </div>
        </div>
    </div>
</div>